body {
  min-width: 320px;
  margin: 0;

  font-size: 16px;
  line-height: 1.1;
  font-family: "Gotham Pro", sans-serif;
  color: $basic-black;

  background-color: $basic-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}
